* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
   }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 20px;
}

thead tr {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.action {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action:hover {
    transition: 1s;
    background-color: #0026ff;
}


a {
    text-align: center;
    text-decoration: none;
}

.bx {
    font-size: 30px;
    padding: 10px;
    color: black;
    cursor: pointer;
}

.bx:hover {
    background-color: white;
    color: rgb(1, 14, 196);
    border-radius: 30px;
}

button a {
    color: #fff;
    text-decoration: none;
}

.editar {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formulario {
    background-color: #616161;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.box {
    justify-content: center;
    display: flex;
    width: 930px;  
}

.form-box {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h2 {
    font-size: 30px;
}

.form-box form {
    margin: 20px 0;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group input {
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form .input-group input:focus{
    border-color: #0011ff69;
}

form .input-group button{
    width: 100%;
    height: 47px;
    background: #333;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form .input-group button:hover{
    transition: 1s;
    background-color:  #0026ff;
}

.deletebutton{
    background: transparent;
    border: none;
}

